/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*This starts the beginning of my CSS implementation*/

/*Look at this project with dimensions of 1650x843*/

body {
  font-family: "Roboto Mono", monospace;
}

nav {
  width: auto;
}

h1 {
  font-family: "Chelsea Market", cursive;
  font-size: 5rem;
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
  border-radius: 20px;
  padding: 1% 2.5%;
  margin: 2.5vh auto;
  font-size: 25px;
  text-align: center;
}

.nav1 {
  background-color: #ff764e;
  margin-left: 30vh;
  margin-right: 5vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: transform 1s;
}

.nav1:hover {
  background-color: #ad3d10;
  transform: translateX(30px);
}

.nav2 {
  background-color: #5ed3eb;
  margin-left: 20vh;
  margin-right: 20vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: transform 1s;
}

.nav2:hover {
  background-color: #3391d5;
  transform: translateX(30px);
}

.nav3 {
  background-color: #ffcd69;
  margin-left: 10vh;
  margin-right: 25vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: transform 1s;
}

.nav3:hover {
  background-color: #ddb443;
  transform: translateX(30px);
}

#header-nav {
  margin-top: 2vh;
}

header {
  display: block;
  width: 100%;
  height: 60vh;
}

header #header-image {
  display: inline-block;
  width: 50%;
}

#header-image img {
  border-radius: 50%;
  width: 50%;
  margin-left: 15%;
  margin-top: 5%;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

#content {
  display: inline-block;
  text-align: center;
  margin-left: 70vh;
  position: relative;
  bottom: 45vh;
}

#content h1 {
  padding: 5vh;
}

#content p {
  font-size: 1.5rem;
  padding: 2vh;
}

section {
  width: 90%;
  height: 15vh;
  margin: 2vh auto;
  padding: 4vh;
  background-color: #ddb9a3;
  color: white;
  text-align: center;
  font-size: 1.25rem;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

section p {
  font-size: 1.5rem;
}

section p:first-child {
  margin-bottom: 2.5vh;
}

#footer-nav {
  background-color: #f9e7dc;
  margin: 0;
  padding: 3vh 0;
}

footer #footer-image {
  display: block;
  position: relative;
  width: 100%;
  height: 40vh;
}

footer #footer-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  object-position: top right;
}

#fire-section,
#camping-section {
  display: block;
  text-align: center;
  margin-top: 2.5vh;
}

#camping-section {
  margin-bottom: 10vh;
}

#fire-section {
  margin-top: 8vh;
  margin-bottom: 10vh;
}

#camping-section img,
#fire-section img {
  border-radius: 50%;
  width: 40vh;
  height: 40vh;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

#camping-section p,
#fire-section p {
  width: 20%;
  margin: 3vh auto;
}

#park,
#fire {
  font-weight: bold;
}

main p {
  font-size: 1.25rem;
}
